.category-wrapper-title{
    font-size: 40px;
    color: #0B486A;
}
.category-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

@media only screen and (max-width: 699px) {
    .category-wrapper{
        overflow-x: hidden;
    }
    .category-wrapper-title{
        font-size: 30px;
        padding-bottom: 10%;
    }
}
