.not-found-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0B486A;
    color: white;
  }
  
  .not-found-heading {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
  }
  
  .not-found-subheading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .not-found-message {
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
    max-width: 500px;
  }
  
  .not-found-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .not-found-homepage-link {
    background-color: #FF7D00;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .not-found-homepage-link:hover {
    background-color: white;
    color: #FF7D00;
  }
  
  